[package]
name = "wasmib-wasm"
version = "0.1.0"
description = "WASM FFI boundary and serialization for wasmib"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasmib-core = { path = "../wasmib-core", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
talc = { version = "4", default-features = false, features = ["lock_api"] }

[lints]
workspace = true
